<h1>Dashboard#door</h1>
<p>Find me in app/views/dashboard/door.html.erb</p>

<h1>Contacts</h1>
<% @contacts.each do |contact| %>
  <%= link_to contact.name, choose_value_path(contact: contact.id) %>
<% end %>