<div class="row">
  <h1>Remesa</h1>
</div>
<div class="row">
  <h4 class="main-message">Send Money Instantly like if it was the future</h4>
</div>
<div class="row">
  <div class="">
    <table class="facebook_login">
      <tbody>
      <tr>
        <td>
          <img class="_4z_e img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/y6/r/yeKliSMc_m4.png"
          alt="" width="31" height="31">
        </td>
        <td>
          <a href="#">Login</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="regular_login">
  <% form_for  %>
  </div>
</div>
<div class="row">
  <h5>Your squad can recieve money in</h5>
  <div class="methods_sending_money_to panel ">
    <h5>Mexican Pesos</h5>
  </div>
  <div class="methods_sending_money_to panel ">
    <h5>Gift Cards</h5>
  </div>
  <div class="methods_sending_money_to panel ">
    <h5>Cocaine</h5>
  </div>
</div>

